@import "styles/right-modules.css";

* {
 font-family: "0xProto Nerd Font Mono";
}

window#waybar {
    background-color:#0a0f12;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
 opacity: 0.2;
}

window#waybar.termite {
 background-color: #3F3F3F;
}

window#waybar.chromium {
 background-color: #000000;
 border: none;
}

button {
 box-shadow: inset 0 -3px transparent;
 border: none;
 border-radius: 0;
}

#workspaces button:hover {
 background: inherit;
}

#window,
#workspaces {
    color: #88cbec; 
    font-size: 16px;
}

#workspaces button.special.active {
    background-color: #7fd961;
    color: #282828;
}

#workspaces button.special {
    color: #7fd961;
    font-size: 30px;
    margin: 0px 6px;
    padding: 0px 0px;
}

#workspaces {
    font-size: 22px;
    background-color: #33363e;
    border-radius: 50px ;
    padding: 8px 0

}

#workspaces button {
    color: #88cbec;
    margin: 6px 6px;
}
#workspaces button.active{
    color: #333435;
    background-color: #88cbec;
    border-radius: 50px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin: 12px 10px 10px 10px; 
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
 background-color: #f53c3c;
 color: #ffffff;
 animation-name: blink;
 animation-duration: 0.5s;
 animation-timing-function: steps(12);
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

#power-profiles-daemon {
 padding-right: 15px;
}

#power-profiles-daemon.performance {
 background-color: #f53c3c;
 color: #ffffff;
}

#power-profiles-daemon.balanced {
 background-color: #2980b9;
 color: #ffffff;
}

#power-profiles-daemon.power-saver {
 background-color: #2ecc71;
 color: #000000;
}

label:focus {
 background-color: #000000;
}

#cpu {
 background-color: #2ecc71;
 color: #000000;
}

#memory {
 background-color: #9b59b6;
}

#disk {
 background-color: #964B00;
}

#backlight {
 background-color: #90b1b1;
}

#custom-media.custom-spotify {
 background-color: #66cc99;
}

#custom-media.custom-vlc {
 background-color: #ffa000;
}

#temperature {
 background-color: #f0932b;
}

#temperature.critical {
 background-color: #eb4d4b;
}

#tray {
 background-color: #2980b9;
}

#tray > .passive {
 -gtk-icon-effect: dim;
}

#tray > .needs-attention {
 -gtk-icon-effect: highlight;
 background-color: #eb4d4b;
}

#idle_inhibitor {
 background-color: #2d3436;
}

#idle_inhibitor.activated {
 background-color: #ecf0f1;
 color: #2d3436;
}

#mpd {
 background-color: #66cc99;
 color: #2a5c45;
}

#mpd.disconnected {
 background-color: #f53c3c;
}

#mpd.stopped {
 background-color: #90b1b1;
}

#mpd.paused {
 background-color: #51a37a;
}

#language {
 background: #00b093;
 color: #740864;
 padding: 0 5px;
 margin: 0 5px;
 min-width: 16px;
}

#keyboard-state {
 background: #97e1ad;
 color: #000000;
 padding: 0 0px;
 margin: 0 5px;
 min-width: 16px;
}

#keyboard-state > label {
 padding: 0 5px;
}

#keyboard-state > label.locked {
 background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
 background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
 padding: 0;
}

#privacy-item {
 padding: 0 5px;
 color: white;
}
